<h1> The Delphi Pizza Project </h2>
  <p> This is app was made to ease the flow of ordering Friday pizza for your child.  </p>

  <p> <a class="btn btn-primary btn-md" href="/users/sign_up" role="button">Sign Up Today!</a> </p>
