<div class="jumbotron">
  <h1>Welcome to Delphi Pizza Project</h1>
  <p> Here you can order pizza for you student online!  </p>
  <p><a class="btn btn-primary btn-lg" href="about" role="button">Learn more</a></p>
</div>

</div>
